$gray-border: #e7e4d3;
$gray-color: #7c7c7c;
$black-phone-color: #233874;
$gray-q-color: #7082b3;
$gray-nav-color: #f9f9f9;
$gray-bottom-color: #939393;
$gray-bottom-title-color: #3e4284;
$gray-body-left-title: #a09281;
