$gray-border: #e7e4d3;
$gray-color: #7c7c7c;
$black-phone-color: #233874;
$gray-q-color: #7082b3;
$gray-nav-color: #f9f9f9;
$gray-bottom-color: #939393;
$gray-bottom-title-color: #3e4284;
$gray-body-left-title: #a09281;


.h1-style{
  text-align: center;
  font-size: 25px;
  color: #233874;
  margin-top: 30px;
  font-family: 'Ubuntu', serif;
}
.desc-style{
  text-align: center;
  color: #c4bdb7;
  font-size: 10px;
}
