input, textarea {
  padding-left: 10px;
  font-style: italic;
  border: none;
}
button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
*{
      font-family: 'Ubuntu', serif;
}
a{
  color: #323433;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
